In [29]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('customer.csv')

In [31]:
data.sample(5)

    age  gender   review education purchased
7    60  Female     Poor    School       Yes
26   53  Female     Poor        PG        No
29   83  Female  Average        UG       Yes
8    65  Female  Average        UG        No
49   25  Female     Good        UG        No

Before doing encoding we will check what kind of categorical data is it <b>Nominal</b> or <b>Ordinal</b>
1. gender: Nominal
2. review: Ordinal
3. education: Ordinal
4. purchased: Nominal

# Important
One thing to keep in mind before doing encoding we have to first train test split the data and then fit encoder on train data and apply transform on both training and testing data

In [32]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(data.drop('purchased',axis=1),data['purchased'],test_size=0.2,random_state=0)

In [33]:
X_train.head()

    age  gender   review education
33   89  Female     Good        PG
35   74    Male     Poor    School
26   53  Female     Poor        PG
34   86    Male  Average    School
18   19    Male     Good    School

Now Apply the encoding on categorical column

In [34]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
cols = ['review','education']
oe.fit(X_train[cols])
X_train[cols] = oe.transform(X_train[cols])
X_test[cols] = oe.transform(X_test[cols])

In [35]:
X_train.head()

    age  gender  review  education
33   89  Female     2.0        2.0
35   74    Male     0.0        0.0
26   53  Female     0.0        2.0
34   86    Male     1.0        0.0
18   19    Male     2.0        0.0

One thing to keep in mind is that <b>Label Encoding</b> is applied on only <b>output columns</b>

In [36]:
y_train.head()

33    Yes
35    Yes
26     No
34     No
18     No
Name: purchased, dtype: object

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(y_train)
y_train = le.transform(y_train)
y_test=le.transform(y_test)

In [38]:
y_train

array([1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])